{% extends "layout.html" %}

{% block body %}
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>TS </b>RedditTrends</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#trendsearch" class="w3-bar-item w3-button">TrendSearch</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>TS</b></span> <span class="w3-hide-small w3-text-light-grey">RedditTrends</span></h1>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- TrendSearch Section -->


  <div class="w3-container w3-padding-32" id="trendsearch">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">TrendSearch</h3>
    <form>
      <label for="start">Posts from:</label>
      <input type="date" id="start" name="date-start" value="1970-01-01" min="2010-01-01">
      <label for="end">to:</label>
      <input type="date" id="end" name="date-end" value="1970-01-01" min="2010-01-01">
      <div class="dropdown">
        <button onclick="showDropdown()" class="dropbtn">Ticker Dropdown</button>
        <div id="tickerDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          <script>
            var arrayVariable = ['apple', 'orange', 'banana', 'test4', 'test5', 'test6', 'test7', 'test8', 'test9', 'test10', 'test11']
            $.each(arrayVariable, function(index, value) {
              $('<a />', {
                'text': value
              }).appendTo('#tickerDropdown');
            });
            filterFunction();
          </script>
        </div>
      </div>
    </form>
    <canvas id="chart" width="200" height="200"></canvas>
    <script src="../static/js/chart.js"></script>
  </div>
</div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p> RedditTrends is a tool where you can research the frequency of stock/crypto symbols in Reddit posts.
      <br>
      <br> **DISCLAIMER** This data is scraped by keyword, so symbols with alternate meanings will have disproportionately high post/vote/comment frequency. (ex. A, HI, AND)
    </p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Matthew" style="width:60%">
      <h3>Matthew Van Brummelen</h3>
      <p class="w3-opacity">Project Developer</p>
      <p>4th-Year Software Engineering student at the University of Victoria</p>
<!--      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>-->
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Message me at <b>blah@gmail.com</b> if you have any questions.</p>
<!--    <form action="/action_page.php" target="_blank">-->
<!--      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">-->
<!--      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">-->
<!--      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">-->
<!--      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">-->
<!--      <button class="w3-button w3-black w3-section" type="submit">-->
<!--        <i class="fa fa-paper-plane"></i> SEND MESSAGE-->
<!--      </button>-->
<!--    </form>-->
  </div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

{% endblock %}